body {
    font-family: 'Arial', sans-serif;
    
    color: #343a40;
    background-image: url('../IMAGENES/1ini.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.container-md {
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1.display-5 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}