body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    background-image: url('../IMAGENES/5comu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


main {
    padding: 2rem;
}

main section {
    margin-bottom: 2rem;
}

.parrafo {
    padding: 10px;
    max-width: 400px;
    align-items: left;
    text-align: left;
    margin: 20px;
}